<section class="s-hero" id="information">
    <div class="s-hero__container">
        <div class="s-hero__content">
            <h1 class="el-title">
                Здоровье это наша жизнь!
            </h1>
            <p class="s-hero__content-description">
                Откровение выше признаний,
                Саму мудрость содержит оно:
                «У здорового - много желаний,
                У больного - желанье одно».
            </p>
        </div>
        <figure class="s-hero__media">
            <img src="images/Hero-img-min.png" alt="">
        </figure>
    </div>
</section>